
__pycache__/tratamento_dados.cpython-312.pyc
*.pyc
*.xlsx
*.csv
dados/dados10-2017.json
dados/dados10-2020.json
dados/dados11-2017.json
dados/dados11-2017.json
dados/dados10-2023.json
dados/dados11-2020.json
dados/dados2-2020.json
dados/dados2-2023.json
dados/dados2018-semestre1.json
dados/dados3-2023.json
dados/dados5-2017.json
dados/dados5-2020.json
dados/dados6-2023.json
dados/dados7-2018.json
dados/dados7-2023.json
dados/dados9-2020.json
dados/dados12-2018.json
dados/dados12-2019.json
dados/dados12-2020.json
dados/dados12-2022.json
dados/dados2-2018.json
